body {
    margin: 0;
    height: 100vh;
    background-image: url(images/loginbackround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Login Container Styling */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.login-card {
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-card h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
}

.input-group i {
    margin-right: 8px;
    color: #007BFF;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.error-message {
    color: #FF0000;
    font-size: 14px;
    margin-bottom: 10px;
}

.signup-link {
    font-size: 14px;
    margin-top: 20px;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsive Login Card */
@media (max-width: 768px) {
    .login-card {
        width: 90%;
        padding: 20px;
    }
}
