/* Main content styling */

/* Styling for the category dropdown and filter button */
.categories {
  margin-top: 20px;
}

select#category_id {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

select#category_id:focus {
  border-color: #007bff;
  outline: none;
}

button.btn-filter {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Makes the button fill the width of the select box */
  margin-top: 10px;
}

button.btn-filter:hover {
  background-color: #0056b3;
}

button.btn-filter:focus {
  outline: none;
}

/* Add a little space between categories and resources */
.feature-cards {
  margin-top: 30px;
}

/* .categories {
  margin-top: 20px;
  padding: 15px;
  background: #f4f4f4;
  border-radius: 10px;
} */

.categories h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories ul li {
  margin-bottom: 10px;
}

.categories ul li a {
  text-decoration: none;
  color: #007acc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.categories ul li a:hover {
  color: #005999;
}

.feature-cards {
  display: flex;
  margin-top: 20px;
}

.feature-cards p {
  color: #fff;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #007acc;
  display: flex;
  align-items: center;
}

.card h3 i {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #5eb5ef;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
  flex-grow: 1;
}

.card a.btn {
  text-align: center;
  display: inline-block;
  background-color: #007acc;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.card a.btn:hover {
  background-color: #005999;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .welcome-text h1 {
    font-size: 1.5rem;
  }

  .feature-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .welcome-text h1 {
    font-size: 1.2rem;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}
