.form-section {
    max-width: 600px; /* Limit form width */
    background-color: rgb(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto 20px auto; /* Center form horizontally */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    color: #051229;
    text-align: center;
}

.form-section form input, 
.form-section form select, 
.form-section form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #051229;
    background-color: rgb(255, 255, 255, 0.1);
}
.form-section form input, form select{
    outline: none;
}

.form-section form button:hover {
    background-color: #051229;
    color: #fff;
}

.table-section {
    margin-top: 20px;
}

.table-section table {
    width: 100%;
    border-collapse: collapse;
}

.table-section table th, 
.table-section table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.table-section table th {
    background-color: #051229;
    color: #fff;
}

/* General Styles */
.edit-form {
    background-color: rgb(255, 255, 255, 0.1); /* Light background for the edit form */
    padding: 15px; /* Padding around the form */
    border-radius: 5px; /* Rounded corners for the form */
    margin-top: 10px; /* Space above the edit form */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Input Fields in the Edit Form */
.edit-form input[type="text"],
.edit-form input[type="email"],
.edit-form select {
    width: calc(25% - 10px); /* Width calculation for inputs */
    margin: 5px; /* Margin around inputs */
    padding: 8px; /* Padding inside inputs */
    border: 1px solid #051229; /* Border for inputs */
    border-radius: 4px; /* Rounded corners for inputs */
    font-size: 14px; /* Font size for inputs */
    background-color: rgb(255, 255, 255, 0.1);
}

/* Button Style in the Edit Form */
.edit-form button {
    margin: 5px; /* Margin around the button */
    padding: 10px 15px; /* Padding inside the button */
    font-size: 16px; /* Font size for the button */
    font-weight: bold; /* Bold text for the button */
    color: #fff; /* Text color */
    background-color: #3498DB; /* Primary background color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Button Hover Effect */
.edit-form button:hover {
    background-color: #2980B9; /* Darker blue on hover */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .edit-form input[type="text"],
    .edit-form input[type="email"],
    .edit-form select {
        width: calc(100% - 10px); /* Full width on smaller screens */
    }
}

